
div.box {
    background-color: rgb(223, 147, 162);
    border: 2px solid crimson;
    border-radius: 130px;
    color:#fff;
    height: 250px;
    font-size: 4em;
    line-heigth: 4em;
    margin: 200px auto;
    text-align: center;
    transition: all 0.5s;
    width: 250px;
}
div.box:hover {
    background-color: rgb(200, 182, 250);
    border: 4px solid rgb(34, 16, 133);
    transform: scale(2) rotate(360deg);

}